html, body{
    font-family: "Roboto", sans-serif;
	display:flex;
	margin:0;
	font-weight:900;
	width:100%;
	height:100%;
	background:black;
}

#header h1{
	letter-spacing: 5px;
	text-transform: uppercase;
}

a{
	cursor: pointer;
	text-decoration: none;
}
a:hover{
	color: #1fe2e2;
}
a.selected{
	color: #50b2f4;
}

#dataNav{
    padding: 1%;
}

#nav a, #dataNav a{
	padding: 2px 5px;
}

#mainContent{
	background-color: black;
	color: white;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	text-align: center;
}

.tableContainer{
	background:white;
	width:65vw;
	font-weight:300;
	display:flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-self:center;
	overflow-y:auto;
}

.tableHeader{
	background:rgba(0,0,0,.75);
}

.tableContent{
	background:rgba(0,0,0,0)
}

.tableContent:nth-child(odd){
	background:rgba(0,0,0,0.1)
}

.tableCol{
	flex-grow:1;
	background:#6E7378;
	display:flex;
	flex-flow:column;
	height:100%;
}

.tableCol:nth-child(even) {
    background: #B0B2B3;
}

.display-image{
    object-fit: fill;
    object-position: center;
    max-height: 300px;
    max-width: 300px;
    height: 300px;
    width: 300px;
    margin: 0.5% .5%;
}

#imageContainer, #videoContainer, #dataContainer, #mapContainer, #homeContainer{
	display: none;
	flex-grow:1;
}

#homeContainer{
    background-image: url("images/home.JPG");
    position: relative;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#credits{
    color: black;
    margin: .5%;
    font-size: 50%;
}

#home-text{
    position: absolute;
    left:25%;
    right: 25%;
    top:20%;
    z-index: 5;
    font-weight: 300;
}

#homeContainer:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 1;
}

#imageContainer, #videoContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2% 1%;
    width: 98%;
    max-width: 98%;
}

#playback-container{
    background-color: rgba(0,0,0,.75);
    display: none;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    top:0px;
    z-index: 20;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#dataContainer{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	padding:1%;
	text-align:center;
}

#mapContainer{
	flex-grow:1;
}

#nav{
	padding:.75%;
}

::-webkit-scrollbar {
	background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background: #50b2f4;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}