html, body{
    font-family: "Roboto", sans-serif;
	display:flex;
	margin:0;
	font-weight:900;
	width:100%;
	height:100%;
}

#links{
	background-color: black;
	text-align: center;
}

#links a{
	color: white;
	text-decoration: none;
}
#links a:hover{
	color: #50b2f4;
	text-decoration: underline;
}

a .fa-twitter{
	display: none;
	margin-left: 5px;
	color: #1da1f2;
}

#twitterImages{
	display:flex;
	flex-flow:row wrap;
	padding:0.5%;
	justify-content:center;
}

#accName{
	font-size:85%;
	font-weight:bold;
	padding: 0px 1%;
	margin-bottom:2%;
}
#atName{
		font-size:90%;
		margin-bottom:10px;
		color:#dedede;
}
#twitterText{
	font-size:85%;
	font-weight:300;
	padding: 0px 1%;
}
.twitterImg{
	border-radius:5px;
	height:8.5vw;
	width:8.5vw;
	background:white;
	margin: 0px 0.5%;
	background-size: cover;
	position:relative;
	background-repeat: no-repeat;
	background-position: center center;
}



.twitterImg img{
	height:100%;
}

#logo .imgContainer{
	background-image: url("images/logo.png");
	display: block;
	width: 23%;
	height: 100%;
	flex-basis: 20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
}

@media (max-width: 700px) {
    html, body{
        font-family: "Roboto", sans-serif;
		font-size: .863em;
    	display:flex;
    	flex-direction:column;
    	margin:0;
    	width:100%;
    	height:100%;
    }

	a .fa-twitter{
		display: inline-block;
		font-size: 1em;
	}

	#sidebar{
		height: 40%;
		max-width:50% !important;
	}

	.kard p{
		font-size:6.25vw !important;
	}
	
	#sidebar #twitterContainer{
		display: none;
	}

	#logo .imgContainer{
		flex-basis: 20%;
		min-width:10vw;
	}
}

#sidebar{
	/*background:#202427;*/
	display:flex;
	flex-direction: column;
	position:fixed;
	height:100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index:20;
	min-width: 20%;
	max-width:20%;
}

#sidebarButton{
	position:absolute;
	z-index:19;
	background:#696969;
	color:white;
	top:1%;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	box-shadow:0px 1px 4px rgba(0,0,0,0.3);
	font-size:22px;
	padding:4% 0%;
	cursor:pointer;
	right:-24px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#mainContent{
	flex-grow:1;
	display:flex;
	flex-direction:column;
}

#logo{
	flex-basis:10%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	font-size:135%;
	background:black;
	color: white;
	letter-spacing: 3px;
	font-weight: 700;
}

#twitterContainer{
	background-color: black;
	color: white;
}

::-webkit-scrollbar {
	background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background: #50b2f4;
}

#infoContainer{
	background:black;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	font-size:225%;
}

#mapContainer{
	flex-grow:1;
}

.unit{
	color:#50b2f4;
}

.kard{
	color: white;
	flex-grow:1;
	display:flex;
	align-items:center;
	justify-content:center;
	background:black;
}

.kard p{
	margin:0;
	padding:5% 0%;
	width:95%;
	text-align:center;
	font-size:2.5vw;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

@keyframes slidein {
  from {
    width: 100%; 
	height:100%;
  }

  to {
    width: 250%;
	height:250%;
  }
}